@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-grey: #121213;
    --grey: #272729;
    --light-grey: #9b9ba3;
    --blue: #3965a8;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--dark-grey);
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}